*{
	box-sizing: border-box;
	
}
.WholePage{
	background-color: rgba(255, 255, 214, 0.5);
}
.nav{	
	background-color: pink;
	z-index: 2;
}
.nav_fix{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.nav .logo_img{
	width: 40%;
	padding: 10px;
	padding-left: 20px;
	float: left;
}
.nav .menu_bar{
	width: 50%;	
	padding: 50px;
	display: flex;
}
.menu_bar a{
	text-decoration: none;
	color: black;
	font-family: verdana;
	
	font-size: 15px;
	text-align: right;
	margin-right: 20px;
	opacity: 0.7
}
.menu_bar a:hover{
	color: orange;
	opacity: 1;
	font-weight: bold;
}
.AboutUs{
	height: 828px;
	width: 900px;
	background-image: url('hope.png');
	background-size: cover;
	background-position: center;
	border-radius: 25px;
	margin-top: 150px;
	margin-left: 250px;
	padding: 40px;
	box-shadow: 4px 4px 8px pink;

}
/*.hope{
	overflow: hidden;
	opacity: 0.9;
}*/