*{
	box-sizing: border-box;
	
}
a {
	color: red;
	text-decoration: underline;
}
body{
	background-color: rgba(255, 255, 214, 0.5);
}

.nav{	
	background-image: linear-gradient(90deg, pink, #de4b9c);
	z-index: 2;
	border-radius: 15px;
	margin: 4px;
	margin-top: 0px;
}
.nav_fix{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.logo_img{
	width: 170px;
	margin: 10px;
	margin-left: 20px;
	float: left;
	border-radius: 15px;
	overflow: hidden;
}
.nav .menu_bar{
	width: 40%;	
	padding: 50px;
	padding-right: 0px;
	
	display: flex;
	margin-left: 600px;
}
.menu_bar a{
	text-decoration: none;
	color: white;
	font-family: verdana;
	text-shadow: 1px 1px black;
	font-size: 15px;
	text-align: right;
	margin-right: 20px;
	opacity: 0.7
}
.menu_bar a:hover{
	color: orange;
	opacity: 1;
	font-weight: bold;
}

.cards{
	display: flex;
	margin-top: 150px;
}
.AboutUs{
	height: 828px;
	width: 65%;
	background-image: url('hope.png');
	background-size: cover;
	background-position: center;
	border-radius: 25px;
	
	margin-left: 10px;
	padding: 40px;
	box-shadow: 4px 4px 8px pink;

}
.AboutUs h1{
	font-family: verdana;
}
.headlines{
	width: 35%;
	height: 500px;
	margin-left: 10px;
	padding: 30px;
	background-image: linear-gradient(0deg, rgb(231, 235, 229), rgb(211, 255, 209));
	border-radius: 25px;
}

.headlines h2{
	font-family: verdana;
	
  background: -webkit-linear-gradient(#f797e4, #ff5cde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-item a{
	color: white;
	text-decoration: underline;
}
.carousel-item a:hover{
	color: grey;
}